
@{
    ViewBag.Title = "Index";
}

@section topscripts {
    <script src="/Scripts/controllers/chat.js"></script>
}

<div ng-controller="ChatPage">
    <div class="start-new-form">
        <input type="text" ng-model="newChatUser" /><button ng-click="openChat()">go</button>
    </div>

    <div ng-repeat="chat in chats">
        <div ng-controller="Chat" ng-init="chatPartner=chat.otherUser">
            <div ng-repeat="message in messages">
                <div>{{ body }}</div>
            </div>
            <textarea ng-model="currentBody"></textarea>
            <button ng-click="sendMessage()">-></button>
        </div>
    </div>
</div>
