<div class="jumbotron">
    <h1>Beer & Chat</h1>
    <p class="lead">A fun chat app built with the purpose of teaching WebApi.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>First you need to log in. Currently you just need to select a username. There are no passwords or authentication.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Log in &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find riends</h2>
        <p>Once logged in, you will need friends. In order to send a friend a message you will need to know their username.</p>
    </div>
    <div class="col-md-4">
        <h2>Chat!</h2>
        <p>Now you are ready to chat with your friends!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Start a conversation &raquo;</a></p>
    </div>
</div>
